 
 <div class="square sm">
   <div class="square-row">
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="1">
      <label for="" class="checkbox-label" >a</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="2">
      <label for="" class="checkbox-label" >b</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="3">
      <label for="" class="checkbox-label" >c</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="4">
      <label for="" class="checkbox-label" >d</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="5">
      <label for="" class="checkbox-label" >e</label></div>
      <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="6">
        <label for="" class="checkbox-label">e</label></div>
     </div>
  <div class="square-row mid">


  </div>  
   <div class="square-row">
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="7">
      <label for="" class="checkbox-label" >f</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="8">
      <label for="" class="checkbox-label" >g</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="9">
      <label for="" class="checkbox-label" >h</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="10">
      <label for="" class="checkbox-label" >i</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="11">
      <label for="" class="checkbox-label" >j</label></div>
      <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="12">
        <label for="" class="checkbox-label" >e</label></div>
     </div>
   </div>
   <div class="time">
    <span>Time1</span>
    <span>time 2</span>
  </div> 
 </div>  
  