 
 <div class="square sm">
   <div class="square-row">
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >a</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >b</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >c</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >d</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >e</label></div>
      <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
        <label for="" class="checkbox-label">e</label></div>
     </div>
  <div class="square-row mid">


  </div>  
   <div class="square-row">
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >f</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >g</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >h</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >i</label></div>
     <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
      <label for="" class="checkbox-label" >j</label></div>
      <div class="symbol"><input type="checkbox" class="custom-checkbox" name="" id="">
        <label for="" class="checkbox-label" >e</label></div>
     </div>
   </div>
   <div class="time">
    <span>Time1</span>
    <span>time 2</span>
  </div> 
 </div>  
  