
.container {
  box-sizing: border-box;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid red;
  align-items: center;

  &-row {
  //  border: 1px solid blue;
    flex-direction: row;
    justify-content: space-between;
    
    // align-items: space-between;
 }

}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black
}
.navbar {

}
.time {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 200px;
}