 <div class="square sm">
   <div class="square-row">
    <% for id in 1..6 %>
     <div class="symbol">
     <% if !hash.key?(id)%>
      <%= link_to "+", new_habit_path%>
      </div>
      <%else %>
           <%= link_to "#{hash[id]}", new_habit_path%>
           </div>
      <% end %>

    <%end%>
 </div>
  <div class="square-row">
    <% for id in 7..12 %>
         <div class="symbol">

     <% if !hash.key?(id)%>
      <%= link_to "+", new_habit_path%>
      </div>
      <%else %>
           <%= link_to "#{hash[id]}", new_habit_path%>
           </div>
      <% end %>
    <%end%>
 </div>
 </div>
   <div class="time">
    <span>Time1</span>
    <span>time 2</span>
  </div> 
 </div>  
  